#info {
  font-size: 15px;
  padding-left: 20px;
}
#name {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

p.p {
  padding-left: 20px;
  font-weight: bold;
}
img {
  padding-left: 20px;
}
