img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}
#name {
  font-size: 30px;
  color: black;
}

.all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
}
